<%- include("partials/header.ejs")%> 
      <center><h1>დისონ სფრეო</h1></center>
      <center>
        <p>
          ეს არის ქვიზი სამიცნიერო ფანტასტიკის მოწყობილობის შესახებ. რომლის აგებასაც ძალიან დიდი რაოდენობით რესურსი ესაჭიროება
          ამ ქვიზს აქვს მხოლოდ 3 სავარაუდო პასუხი. სულ 5 კითხვაა.
        </p>
      </center>