<%- include("partials/header.ejs")%> 
    
    <center>

    <table id="q">
        
        <tr>
            <th>
                <h3>იმუშავებს თუ არა ფოტოზე გამოსახული დისონ სფერო</h3>
                <br>
                <input type="radio" id="true" name="q1" value="true">
                <span>კი</span>
                <br>
                <input type="radio" id="false" name="q1" value="false">
                <span>არა</span>
                <br>
                <input type="radio" id="may" name="q1" value="may">
                <span>შეიძლება</span>
            </th>
            <th>
                <img src="Images/quiz1 q1.png" alt="" class="jj">
            </th>
        </tr>
    </table>

    <br>

    <table id="q">
        
        <tr>
            
            <th>
                <h3>რომელი უფრო პრაქტიკულია შესაქმენლად</h3>
                <br>
                <input type="radio" id="ring" name="q2" value="riong">
                <span>დისონ ბეჭედი</span>
                <br>
                <input type="radio" id="sphere" name="q2" value="sphere">
                <span>დისონ სფერო</span>
                <br>
                <input type="radio" id="swarm" name="q2" value="swarm">
                <span>დისონ გროვა</span>
            </th>
        </tr>
    </table>
    <br>
    <table id="q">
        
        <tr>
            
            <th>
                <h3>რატომ შეიძლება განადგურდეს დისონ სფერო</h3>
                <br>
                <input type="radio" id="mass" name="q3" value="mass">
                <span>თავისი მასის გამო</span>
                <br>
                <input type="radio" id="crush" name="q3" value="crush">
                <span>რაიმეს დაჯახების გამო</span>
                <br>
                <input type="radio" id="all" name="q3" value="all">
                <span>ყველა პასუხი სწორია</span>
            </th>
        </tr>
    </table>
    <br> 
    <table id="q">
        
        <tr>
            
            <th>
                <h3>რაში გვჭირდება დისონ სფერო/გროვა</h3>
                <br>
                <input type="radio" id="em" name="q4" value="em">
                <span>ენერგიის მიღებისთვის</span>
                <br>
                <input type="radio" id="sl" name="q4" value="sl">
                <span>მზეზე ცხოვრებისთვის</span>
                <br>
                <input type="radio" id="cs" name="q4" value="cs">
                <span>ვარსკვლავების შესაქმნელად</span>
            </th>
        </tr>
    </table>

    <br>

    <table id="q">
        
        <tr>
            
            <th>
                <h3>რაში შეიძლება გამოვიყენოთ მზის ენერგია</h3>
                <br>
                <input type="radio" id="tp" name="q5" value="tp">
                <span>პლანეტებს შორისი მოგზაურობისთვის</span>
                <br>
                <input type="radio" id="ts" name="q5" value="ts">
                <span>ვარსკვლავებს შორისი მოგზაურობისთვის</span>
                <br>
                <input type="radio" id="tg" name="q5" value="tg">
                <span>გალაქტიკათა შორისი მოგზაურობისთვის</span>
            </th>
        </tr>
    </table>

    <br>
    

    <a href="/home" class="btn btn-outline-light">გაგზავნა</a>

    </center>
    <br>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>