<%- include("partials/header.ejs")%> 
      <center>
        <table>
          <tr>
            <a href="#" class="btn btn-outline-light" style="margin: 4px;">ინჟინერია</a>
            <a href="#" class="btn btn-outline-light" style="margin: 4px;">ისტორია</a>
            <a href="#" class="btn btn-outline-light" style="margin: 4px;">ლიტერატურა</a>
            <a href="#" class="btn btn-outline-light" style="margin: 4px;">ქიმია</a>
            <a href="#" class="btn btn-outline-light" style="margin: 4px;">ფიზიკა</a>
            <a href="#" class="btn btn-outline-light" style="margin: 4px;">ფილოსოფია</a>
          </tr>
          <br>
          <br>
        </table>
        <div class="cb">
          <center>
            <table>
            <tr>
              <th><div class="card topleft" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="Quiz.html" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card topright" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
            </tr>
    
          </table>
          </center>
          <br>
          <center>
            <table>
            <tr>
              <th><div class="card topleft" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="Quiz.html" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card topright" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
            </tr>
    
          </table>
          </center>
          <br>
          <center>
            <table>
            <tr>
              <th><div class="card topleft" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="Quiz.html" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card topright" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
            </tr>
    
          </table>
          </center>
          <br>
          <center>
            <table>
            <tr>
              <th><div class="card topleft" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="Quiz.html" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card topright" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
            </tr>
    
          </table>
          </center>
          <br>
          <center>
            <table>
            <tr>
              <th><div class="card topleft" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="Quiz.html" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card topright" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
            </tr>
    
          </table>
          </center>
          <br>
          <center>
            <table>
            <tr>
              <th><div class="card topleft" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="Quiz.html" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card topright" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
            </tr>
    
          </table>
          </center>
          <br>
          <center>
            <table>
            <tr>
              <th><div class="card topleft" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="Quiz.html" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
              <th><div class="card topright" style="width: 18rem;">
                <div class="card-body">
                  <h5 style="color:black;" class="card-title">დისონის სფერო/გროვა</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ქვიზი</h6>
                  <img src="Images/quiz1.png" class="card-img" alt="...">
                  <br>
                  <br>
                  <center>
                    <a href="Learns.html" class="btn btn-outline-success" onclick="warning()">შესწავლა</a>
                    <a href="/quizes/quiz" class="btn btn-outline-dark">ქვიზი</a>
                  </center>
                  
                </div>
              </div></th>
            </tr>
    
          </table>
          </center>
          <br>
